<section class="horizontal-form">   
    {{#if step1}}
    <form>
        {{!-- ProfitBricks authentication --}}
         <div class="over-hr r-mb20">
            <span>
            ProfitBricks Authentication
            </span>
        </div>
        <div class="row form-group">
            <div class="col-md-2 form-label">
               <label class="form-control-static">
               Username
               </label>
            </div>
            <div class="col-md-4">
                {{input type="text" name="username" classNames="form-control" placeholder="Your ProfitBricks username" value=model.%%DRIVERNAME%%Config.username}}
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2 form-label">
                <label class="form-control-static">
                Passsword
                </label>
            </div>
            <div class="col-md-4">
                {{input type="password" name="password" classNames="form-control" placeholder="Your ProfitBricks password" value=model.%%DRIVERNAME%%Config.password}}
            </div>
        </div>
        {{top-errors errors=errors}}
        <div class="footer-actions">
            {{#if gettingData}}
            <button class="btn bg-primary btn-disabled"><i class="icon icon-spinner icon-spin"></i> {{t 'generic.loading'}}</button>
            {{else}}
            <button {{action "getLocations" 'locations'}} class="btn bg-primary" disabled={{not canAuthenticate}}>Authenticate</button>
            {{/if}}
            <button {{action "cancel"}} class="btn bg-transparent">{{t 'generic.cancel'}}</button>
        </div>
    </form>  
    {{else if step2}}   
    <div class="row">
        {{top-errors errors=errors}}
    </div>  
    <div class="over-hr r-mb20">
        <span>
        You can choose an available Data Center from the list
        </span>
    </div>
    <div class="row form-group">                 
        <div class="row form-group">
            <div class="col-md-2 form-label">
                <label class="form-control-static">
                    Available Data Centers
                </label>
            </div>
            <div class="col-md-3">
               <select class="form-control" onchange={{action "selectDataCenter" value="target.value"}} disabled={{model.%%DRIVERNAME%%Config.datacenterName}}>
               {{#each datacenters as |datacenter|}}
               <option value="{{datacenter.id}}"
               selected={{eq datacenter.id model.%%DRIVERNAME%%Config.datacenterId}}>
               {{datacenter.properties.name}}
               </option>
               {{/each}}
               </select>
            </div>
         </div>
    </div>
    <div class="over-hr r-mb20">
        <span>
            Or Create one by entering the Name with the desired location
        </span>
    </div>
    <div class="row form-group">
        <div class="col-md-2 form-label">
            <label class="form-control-static">
               Data Center
            </label>
        </div>
        <div class="col-md-3">
            {{input type="text" disabled=dcCreated name="datacenterId" classNames="form-control" placeholder="Data Center Name" value=model.%%DRIVERNAME%%Config.datacenterName}}           
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2 form-label">
            <label class="form-control-static">
                Location
        </label>
        </div>
        <div class="col-md-3">
            <select class="form-control" onchange={{action "selectLocation" value="target.value"}}>
               {{#each locations as |location|}}
               <option value="{{location.id}}"
               selected={{eq location.id model.%%DRIVERNAME%%Config.location}}>
               {{location.id}}
               </option>
               {{/each}}
            </select>
        </div>
        <div class="col-md-2">                 
            {{#if creatingDC}}
            <i class="icon icon-spinner icon-spin"></i> {{t 'generic.loading'}}
            {{else if dcCreated}}
            Datacenter created successfuly
            {{else}}
            <button disabled={{not model.%%DRIVERNAME%%Config.datacenterName}} {{action "createDatacenter"}} class="btn bg-primary" >Create Data Center</button>
           {{/if}}
        </div>
    </div>
    <hr>
    <div class="row form-group">        
        {{#if creatingDC}}  
        <div class="col-md-2 col-md-offset-5">
            <i class="icon icon-spinner icon-spin"></i> {{t 'generic.loading'}}
        </div>
        {{else}}
        <div class="col-md-2 col-md-offset-5">
            <button {{action "toLastStep"}} disabled={{not model.%%DRIVERNAME%%Config.datacenterId}} class="btn bg-primary" >Continue to Node configuration</button>
        </div>
        {{/if}}
    </div>
    {{else if step3}}
    <div class="box mt-20">
        <div class="row">
            {{partial "host/add-common"}}
        </div>
    </div>      
    {{!-- Configuring instances --}}
    <div class="over-hr r-mb20">
        <span>
            Instance configuration
        </span>
    </div>
    {{!-- CPU: cores and family --}}
    <div class="row form-group">
        <div class="col-md-2 form-label">
            <label class="form-control-static">
                CPU family
            </label>
        </div>
        <div class="col-md-4">
            <select class="form-control" onchange={{action "selectCpuFamily" value="target.value"}}>
                {{#each cpu_families as |cpu_family|}}
               <option value="{{cpu_family.value}}"
               selected={{eq cpu_family.value model.%%DRIVERNAME%%Config.value}}>
               {{cpu_family.name}}
               </option>
               {{/each}}
            </select>
        </div>
        <div class="col-md-2 form-label">
            <label class="form-control-static">
               Cores
            </label>
        </div>
        <div class="col-md-4">
            <select class="form-control" onchange={{action "selectCores" value="target.value"}}>
               {{#each cores as |core|}}
               <option value="{{core}}" selected={{eq core model.%%DRIVERNAME%%Config.cores}}>
               {{core}}
               </option>
               {{/each}}
            </select>
        </div>
    </div>
     {{!-- RAM and disk type --}}
    <div class="row form-group">
        <div class="col-md-2 form-label">
            <label class="form-control-static">
               RAM
            </label>
        </div>
        <div class="col-md-4">
            <select class="form-control" onchange={{action "selectRam" value="target.value"}}>
               {{#each rams as |ram|}}
                <option value="{{ram.value}}" selected={{eq ram.value model.%%DRIVERNAME%%Config.ram}}>
               {{ram.name}}
               </option>
               {{/each}}
            </select>
        </div>
        <div class="col-md-2 form-label">
            <label class="form-control-static">
               Disk type
            </label>
        </div>
        <div class="col-md-4">
            <select class="form-control" onchange={{action "selectDiskType" value="target.value"}}>
            {{#each disk_types as |disk_type|}}
            <option value="{{disk_type}}" selected={{eq disk_type model.%%DRIVERNAME%%Config.diskType}}>
               {{disk_type}}
            </option>
               {{/each}}
            </select>
        </div>
    </div>
    {{!-- Image and volume size --}}
    <div class="row form-group">
        <div class="col-md-2 form-label">
            <label class="form-control-static">
               Image
            </label>
        </div>
        <div class="col-md-4">
            {{#if imageLoading}}
            <i class="icon icon-spinner icon-spin"></i> {{t 'generic.loading'}}
               {{else}}
            <select class="form-control" onchange={{action "selectImage" value="target.value"}}>
               {{#each images as |image|}}
               <option value="{{image.id}}"
                selected={{eq image.id model.%%DRIVERNAME%%Config.imageId}}>
               {{image.properties.name}}
               </option>
               {{/each}}
            </select>
            {{/if}}
            <span class="help-block">
                <strong>Note:</strong> Ubuntu 16.04 requires Docker v1.12 or greater. You will need to change the Docker Install URL under the Advanced Options tab.
            </span>
        </div>
        <div class="col-md-2 form-label">
            <label class="form-control-static">
                Volume size (GB)
            </label>
        </div>
        <div class="col-md-4">
           {{input type="text" name="diskSize" classNames="form-control" placeholder="Volume size in GB" value=model.%%DRIVERNAME%%Config.diskSize}}
        </div>
    </div>   
    {{partial "host/add-options"}}
    {{!-- Footer buttons --}}
    <div class="footer-actions">
        <div class="row">
            {{top-errors errors=errors}}
        </div>
            {{#if waitData}}
            <i class="icon icon-spinner icon-spin"></i> {{t 'generic.loading'}}
            {{else}}
            {{save-cancel save="save" cancel="cancel"}}
            {{/if}}
    </div>
    {{/if}}
</section>